.clothing {
    background-color: #bb86fc;
}

.home {
    background-color: #00c4b4;
}

td {
    background-color: #424250;
}

td,
th {
    padding: 6px 8px;
}

h1,
h2 {
    color: black;
}

body {
    color: white;
}